* {
	box-sizing: border-box;
}

body {
	margin: 0;
}
img {
	display: block;
}
.contener{
    width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}
.header-title {
	padding: 24px 0;
	border-bottom: 1px solid #eeeef4;
}

.contener-title {
	display: flex;
}

.pixer-link {
	margin-right: 50px;
}

.pixer-link:hover {
    opacity: 0.8;
}

.pixer-link:active {
    opacity: 0.6;
}

.navigeshin {
	margin-right: auto;
	align-items: center;
}

.pixar-list {
	display: flex;
	margin: 10px 0;
	padding-left: 0;
	align-items: center;
    text-align: center;
	list-style-type: none;
}

.pixar-iteam {
	margin-right: 30px;
}

.iteam-link {
	text-decoration-line: none;
	color: #101010;
}

.iteam-link:hover {
    color: #1aab7b;
}

.iteam-link:active {
    opacity: 0.6;
}

.tel-link {
	display: inline-block;
	padding: 12px 24px;
	text-decoration-line: none;
	border-radius: 6px;
	color: #fff;
	background-color: #101010;
}

.tel-link:hover {
    border: 1px solid #1AAB7B;
    background-color: #fff;
    color: #1aab7b;
}

.tel-link:active {
    border-radius: 6px;
    opacity: 0.6;
    color: #fff;
    background-color:  #101010;
}

.hero-section {
    padding-top: 104px;
}

.hero-wrapper {
    display: flex;
    
}


.hero-title {
    width: 550px;
    margin: 0;
    margin-top: 1px;
    margin-right: 74px;
    width: 550px;
}

.text {
  margin: 0;
  margin: 20px;
  margin-left: 1px;
}

.learn-link {
    margin: 0;
    margin-top: 40px;
}
.services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:  #f2f4f6;
}

.help-title {
    margin: 0;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    gap: 32px;
    list-style: none;
    background-color: #f2f4f6;
}

.services-iteam {
    width: 384px;
    padding: 30px 40px;
    border: 2px solid #e1e7ed;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.services-iteam:hover {
    background-color: #1aab7b;
}

.services-iteam:hover .services-title {
    color: #fff;
}

.services-iteam:hover .services-img {
    background-color: #fff;
}

.services-iteam:hover .services-iteam-desc {
    color: #fff;
}

.services-iteam:hover .services-link {
    color: #fff;
    text-decoration: underline;
}

.services-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.services-iteam-wrapper {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #101010;
    transition: color 0.5s ease;
}

.services-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #e1e7ed;
  border-radius: 84px;
  transition: background-color 0.5s ease;
}

.services-iteam-desc {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 150%;
    color: #636f87;
    transition: color 0.5s ease;
}

.services-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
}

.workplace-title {
   display: block; 
   text-align: center;
   margin: 0;
}

.workplace-title-text {
    width: 650px;
    margin: 0 auto;
}

.workplace-text {
    margin: 16px;
    align-items: center;
}

.workplace-iteam {
    display: flex;
    margin-bottom: 100px;
}

.workplace-img {
    margin: 32px;
}


.clarify-img {
    margin: 32px;
}

